# --------------------------------------------------------------------------- #
# Local Installation Properties - This is a SAMPLE file                       # 
# --------------------------------------------------------------------------- #

# Location of a local webapp where flint should be deployed
local.webapp=c:/pageseeder/webapp
